
#wrapper{font-family: tahoma;}


/* Main Header Styling */
.main-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 90px;
}

#main-header{
    width: 100%;
    height: 90px;
    background: #ffffff;
}

#logo{
    width: 25%;
    display: flex;
    align-items: center;   
}
#logo-name{
    color: #1F076C;
    font-size: 24px;
    font-weight: bold;

}

/* User Menu Styling */
#user-menu{
    width: 50%;
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-menu li{
    float: left;
    list-style: none;
    font-size: 18px;
    font-weight: lighter;
}

#user-menu li a{
    color: #040846;
    text-decoration: none;
}

#profile-section{
    width: 25%;
    margin-right: 0px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}  

.profile-name{
    width: 100%;
}
.profile-name a{
    display: block;
    padding: 8px;
    color: #FFFFFF;
    background: #EC9353;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    cursor: pointer;
    
    
    border-radius: 4px;
}

/*footer*/
#main-footer{
    width: 100%;
    height: 235px;
    background: #EC9353;
    
    display: flex;
    justify-content: space-between;
    margin-top: 30%;
}

#rekam-medis{
    width: 34%;
    background: #D0D3F5;
}
#jadwal-dokter{
    width: 32%;
    background: #380890;
}
#konsultasi{
    width: 34%;
    background: #D0D3F5;

}



/*Jadwal Dokter*/
#tabel-jadwal{
    padding-left : 6rem;
    padding-right: 6rem;
    font-family: 'Roboto', sans-serif;
}

details{
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 0 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgba(4, 8, 70, .65);
    background-color: #FFFFFF;
    border-radius: 8px;
}

details > summary{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
    cursor: pointer;
}
details > summary::after {
    content: url(../images/tambah.svg);
    width: 4px;
    height: 4px;
    display: inline-flex;
    transition: transform 0.3s ease;
}
details[open] > summary::after {
    transform: rotate(45deg);
}
details > summary::-webkit-details-marker{
    display: none;
}
.details-box{
    background-color: #FFFFFF;
}
.details-content{
    
    background-color: #380890;
    font-size: 1rem;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
}

#tabel-dokter{
    border-radius: 8px;
    width:100%;
    border-collapse: collapse;
}
#tabel-dokter td, #tabel-dokter th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
#tabel-dokter th {
  padding-top: 12px;
  padding-bottom: 12px;
}